services:
  app1:
    build: .
    command: bun run start
    container_name: app1
    hostname: container-1
    networks:
      - balancer-net
    env_file:
      - .env

  app2:
    build: .
    command: bun run start
    container_name: app2
    hostname: container-2
    networks:
      - balancer-net
    env_file:
      - .env

  nginx:
    image: nginx:stable
    container_name: nginx-balancer
    depends_on:
      - app1
      - app2
    volumes:
      - ./nginx/balancer.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    networks:
      - balancer-net

networks:
  balancer-net:
    driver: bridge
