services:
  store-app-1:
    build: .
    command: bun run start
    container_name: store-app-1
    hostname: store-app-1
    networks:
      - balancer-net
    env_file:
      - .env

  store-app-2:
    build: .
    command: bun run start
    container_name: store-app-2
    hostname: store-app-2
    networks:
      - balancer-net
    env_file:
      - .env

  nginx:
    image: nginx:stable
    container_name: nginx-balancer
    depends_on:
      - store-app-1
      - store-app-2
    volumes:
      - ./nginx/balancer.conf:/etc/nginx/conf.d/default.conf:ro
    expose:
      - "8080"
    ports:
      - "8083:80"
    networks:
      - balancer-net

networks:
  balancer-net:
    driver: bridge
